.landing-container {
  display: flex;
  min-height: 100vh;
  color: antiquewhite;
  margin: 0;
  flex-wrap: wrap;
}

.title_block {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 92px;
  letter-spacing: 8px;
  display: flex;
}
.subtitle {
  margin-top: 150px;
}
