.landing-container {
  display: flexbox;
  height: 100vh;
  color: antiquewhite;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
  width: 100vw;
}

.title_block {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 92px;
  letter-spacing: 8px;
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

/*
.subtitle {
  display: block;
  height: 15vh;
  width: 100vw;
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
*/
